* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  height: 80px;
  margin-bottom: 10px;
}
.header-block {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin: 10px 0;
}
.header-link {
  color: inherit;
  text-decoration: none;
}
.active {
  background: linear-gradient(90deg, #b92b27, #1565c0);
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #80808066;
}
.slider {
}
.slider-img {
  width: 100vw;
  height: calc(100vh - 90px);
  display: inline-block;
}
